@media (prefers-reduced-motion: no-preference) {
  * {
  scroll-behavior: smooth;
}

#top{
  
  text-align: center;
  height: 140;
  border-style: solid;
  border-width: 0 0 10;
  border-color: #c89666;
  margin-top: 10;
}

h1{
  
  padding-top: 20;
  font-size: 40;
  margin-bottom: -10;
  max-width: 100%;
}

#text1{
  font-size: 17;
  max-width: 100%;
}

h2{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
  max-width: 100%;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  border: 0;
  margin: 0;
  border-style: solid;
  border-width: 30px 30 0;
  border-color: #c89666;
  max-width: 100%;
  background-color: #fff5d7;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto ;
  padding-top: 15;
}

#img-caption{
  margin-top: 3px;
}

#introduction{
  margin-top: 50px;
  font-size: 25;
  margin-bottom: 40 
}

ul{
  max-width: 550px;
  margin: 75px auto 90px auto;
  text-align: left;
  line-height: 1.8;
}

li{
  margin: 30px;
}

blockquote{
  text-align: auto;
  margin-top: 60;
}

#bottom{
  background-color: #fff5d7;
  margin-bottom: -40;
  border-style: solid;
  border-width: 10px 0 30;
  border-color: #c89666;
}

#tribute-link{
  text-decoration: none;
}
a:hover{
  color: red;
}

a:active{
  color: blue;
}
